
@{
    ViewBag.Title = "Đăng Ký Thành Viên";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    #p1{
        color:red;
    }
    tr {
        height: 40px;
        width:100%;
    }
    input{
        width:50%;
    }
</style>
<h4 style="text-align:center">ĐĂNG KÍ THÀNH VIÊN</h4>
<br />
@using (Html.BeginForm())
{
<table>
    <p id="p1">* Điền đủ thông tin đăng ký</p>
    @Html.ValidationSummary(true)
    <tr>
        <th> Họ tên khách hàng: <font color="red">*</font></th>
        <td>
            @Html.TextBox("HotenKH")
        </td>
        <td id="p1">@ViewData["Loi1"]</td>
    </tr>
    <tr>
        <th> Tên đăng nhập: <font color="red">*</font></th>
        <td>
            @Html.TextBox("TenDN")
        </td>
        <td id="p1">@ViewData["Loi2"]</td>
    </tr>
    <tr>
        <th> Mật khẩu: <font color="red">*</font></th>
        <td>
            @Html.Password("Matkhau")
        </td>
        <td id="p1">@ViewData["Loi3"]</td>
    </tr>
    <tr>
        <th> Nhập lại mật khẩu: <font color="red">*</font></th>
        <td>
            @Html.Password("Matkhaunhaplai")
        </td>
        <td id="p1">@ViewData["Loi4"]</td>
    </tr>
    <tr>
        <th> Email: <font color="red">*</font></th>
        <td>
            @Html.TextBox("Email")
        </td>
        <td id="p1">@ViewData["Loi5"]</td>
    </tr>
    <tr>
        <th> Địa chỉ: <font color="red">*</font></th>
        <td>
            @Html.TextBox("Diachi")
        </td>
        <td id="p1">@ViewData["Loi6"]</td>
    </tr>
    <tr>
        <th> Số điện thoại: <font color="red">*</font></th>
        <td>
            @Html.TextBox("Dienthoai")
        </td>
        <td id="p1">@ViewData["Loi7"]</td>
    </tr>
    <tr>
        <th> Ngày sinh: <font color="red">*</font></th>
        <td>
            <input type="date" name="Ngaysinh" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <br />
            <input class="btn bg-primary text-white text-center" type="submit" value="Đăng Ký" />
        </td>
    </tr>
</table>
}


