@model MvcBookStore.Models.KHACHHANG
@{
    ViewBag.Title = "Chi tiết người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Thông tin người dùng</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên người dùng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            Họ tên khách hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            Số điện thoại liên hệ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiKH)
        </dd>

        <dt>
            Email liên hệ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "DonHang")
</p>
